<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
		<h2 align="center">VIoLET</h2>
		
	  	<div class="form-style-8">
			  <h2>Device specifications</h2>
			  <form method="POST">
			    <input type="text" name="dname" placeholder="Device Name" required/>
				<select name="dtype" required>
					<option value="Pi2B">Raspberry Pi 2B</option>
					<option value="Pi3B">Raspberry Pi 3B</option>
					<option value="Pi3B+">Raspberry Pi 3B+</option>
					<option value="TX1">Nvidia Jetson TX1</option>
				</select>
			    <input type="number" max="65535" min="1024" name="dport" placeholder="Port number" required/>
			    <input type="text" name="dip" placeholder="IP" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"/>
			    <input type="submit" name="btn" value="ADD Device">
			  </form>
		</div>
	  	<div class="form-style-8">
			  <h2>Sensor specifications</h2>
			  <form method="POST">
			    <input type="text" name="sname" placeholder="Sensor Name" required/>
				<select name="stype" required>
					<option value="gyroscope">Gyroscope</option>
					<option value="accelerometer">Accelerometer</option>
				</select>
			    <input type="number" max="65535" min="1024" name="sport" placeholder="Port Number" required/>
			    <input type="submit" name="btn" value="ADD Sensor" required/>
			  </form>
		</div>
	  	<div class="form-style-8">
			  <h2>Network specifications</h2>
			  <form method="POST">
			    <input type="text" name="nname" placeholder="Network Name" required/>
			    <input type="number" min="0" name="bandwidth" placeholder="Bandwidth-mbps" required/>
			    <input type="number" min="0" name="latency" placeholder="Latency-ms" required/>
			    <input type="submit" name="btn" value="ADD Network" required/>
			  </form>
		</div>
		<div class="form-style-8">
			  <h2>On completion</h2>
			  <form method="POST">
			  	<input type="submit" name="btn" value="DONE" />
			  </form>
		</div>
	  
</body>
</html>
